body {
    background-color: #0f121f;
    background-image: url('red-black-brush-stroke-banner-background-perfect-canva.jpg');
    background-repeat: no-repeat;
    color: #fff;
}

body *{
    font-family: Ubuntu;
}

h1,h2,h3,h4,h5{
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited{
    color: #fff;
    text-decoration: none;
}



.nav-bar {
    background: crimson;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.heading {
    font-size: bold;
    font-family: 'Courier New', Courier, monospace;

}

li {
    list-style: none;
    display: inline-block;
}

/* article.img {
    width: 100px !important;
    height: 100px !important;
} */