{% load static  %}
<html>
    <head>
        <title>Wachira Website</title>
        <link rel="stylesheet" href="{%static 'style.css'%}">
    </head>
    <body>
        <div class = "wrapper" >      
            {% comment %} <h1><a href="{% url 'list' %}"><img src="{%static 'wachira_hub.jpeg' %} " alt="Logo of Wachira Hub"></a></h1> {% endcomment %}        
            <nav class = "nav-bar">

                <div class="heading">
          
                  <h4>Wachira Industries</h4>
          
                </div>
          
                <ul class="nav-links">
          
                  <li><a class="active" href="">Home</a></li>
          
                  <li><a href="">About</a></li>
          
                  <li><a href="">Log Out</a></li>
          
          
                </ul>
          
              </nav>
            <br>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>  